<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @leads_import.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @leads_import.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @leads_import.first_name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @leads_import.language %>
</p>

<p>
  <strong>Description:</strong>
  <%= @leads_import.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @leads_import.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @leads_import.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @leads_import.phone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @leads_import.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @leads_import.note %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @leads_import.image_url %>
</p>

<p>
  <strong>Role:</strong>
  <%= @leads_import.role %>
</p>

<p>
  <strong>Company:</strong>
  <%= @leads_import.company %>
</p>

<p>
  <strong>From date:</strong>
  <%= @leads_import.from_date %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @leads_import.job_location %>
</p>

<p>
  <strong>Job desc:</strong>
  <%= @leads_import.job_desc %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @leads_import.industry %>
</p>

<p>
  <strong>Cy number:</strong>
  <%= @leads_import.cy_number %>
</p>

<p>
  <strong>Cy street:</strong>
  <%= @leads_import.cy_street %>
</p>

<p>
  <strong>Cy address info:</strong>
  <%= @leads_import.cy_address_info %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @leads_import.zip %>
</p>

<p>
  <strong>Pobox:</strong>
  <%= @leads_import.pobox %>
</p>

<p>
  <strong>Cy state:</strong>
  <%= @leads_import.cy_state %>
</p>

<p>
  <strong>Cy country:</strong>
  <%= @leads_import.cy_country %>
</p>

<%= link_to 'Edit', edit_leads_import_path(@leads_import) %> |
<%= link_to 'Back', leads_imports_path %>
