<% provide(:title, (t('Managing') + ' ' + t('Settings'))) %>

<% content_for :page_heading do %>
    <%= t('Lists') + ' ' + t('Settings')%>
<% end %> 


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name')%></th>
      <th><%= t('Description')%></th>
      <th><%= t('Code')%></th>
      <th><%= t('User')%></th>
      <th><%= t('Owner')%></th>
      <th><%= t('CreatedBy')%></th>
      <th><%= t('UpdatedBy')%></th>
    </tr>
  </thead>

  <tbody>
    <% @parameters_list.each do |parameters_list| %>
      <tr>
        <td><%= link_to parameters_list.name, parameters_list %></td>
        <td><%= parameters_list.description %></td>
        <td><%= parameters_list.code %></td>
        <td><%= parameters_list.is_user_specific %></td>
        <td><%= parameters_list.owner.login %></td>
        <td><%= parameters_list.created_by %></td>
        <td><%= parameters_list.updated_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('Add'), new_parameters_list_path %>
