<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title))%> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  
  <%= render "layouts/header" %>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <h4> Menu </h4>
      <nav>
        <ul>
          <li> <%= link_to t('Parameters'), "#"  %></li>
          <li> <%= link_to t('Analytics'), "#" %> </li>
          <% if true #current_user.is_admin %>
            <li> <%= t('Administration')  %> </li>
          <% end %>
          <li> <%= link_to t('Help'), "#" %> </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-9">
      <h4> Synthèse </h4>
      <%= yield(:short) %>
    </div>
    <div class="col-md-2">
      <h4> Extend </h4>
      <%= yield(:extend) %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-1">
      <h4> Icones </h4>
    </div>
    <div class="col-md-9">
      <h4> Main </h4>
      <%= yield(:main) %>
    </div>
    <div class="col-md-2">
      <h4> Links </h4>
      <%= yield(:links) %>      
    </div>
  </div>
</div>



<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
  
</body>
</html>
