<%= form_for [@parameters_list, @parameter] do |f| %>
  <% if @parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% @parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-1 text-right"><%= t('Name') %>:
    </div>
    <div class="col-md-1"><b><%= f.text_field :name %></b>
    </div>
    <div class="col-md-2 text-right"><%= t('Code') %>:
    </div>
    <div class="col-md-1"><%= f.text_field :param_code %>
    </div>
    <div class="col-md-1 text-right"><%= t('Value') %>:
    </div>
    <div class="col-md-1"><%= f.text_field :param_value %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 text-right"><%= t('Description') %>:
    </div>
    <div class="col-md-8"><%= f.text_area :description, :rows => 5, :class => "col-md-10"  %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-1 text-right"><%= t('ValidRange') %>:
    </div>
    <div class="col-md-4">
      <div class="input-daterange" data-behaviour="datepicker" id="datepicker" data-date-format="dd/mm/yyyy">
         <%= f.text_field :active_from, :class => "input-small" %>  
         <col-md- class="add-on"><%= t('ValidTo') %></col-md->
         <%= f.text_field :active_to, :class => "input-small" %> 
      </div>
      <script type="text/javascript">
        $('[data-behaviour~=datepicker]').datepicker();
      </script>
      
    </div>
  </div>
</br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
