<% provide(:title, (t('Managing') + ' ' + t('Settings'))) %>

<% content_for :page_heading do %>
    <%= t('Configuration') + ' ' + t('Settings') %>
<% end %> 

<table  class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Id') %></th>
      <th><%= t('Name') %></th>
      <th><%= t('Description') %></th>
      <th><%= t('Value') %></th>
      <th><%= t('ValidFrom') %></th>
      <th><%= t('ValidTo') %></th>
      <th><%= t('CreatedBy') %></th>
      <th><%= t('UpdatedBy') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parameters.each do |parameter| %>
      <tr>
        <td><%= parameter.id %></td>
        <td><%= parameter.name %></td>
        <td><%= parameter.description %></td>
        <td><%= parameter.param_value %></td>
        <td><%= parameter.active_from %></td>
        <td><%= parameter.active_to %></td>
        <td><%= parameter.created_by %></td>
        <td><%= parameter.updated_by %></td>
        <td><%= link_to t('Show'), parameter %></td>
        <td><%= link_to t('Edit'), edit_parameter_path(parameter) %></td>
        <td><%= link_to t('Destroy'), parameter, method: :delete, data: { confirm: 'Parameter will be invalidated. Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


